.home-container{
    width: 100%;
    height: calc(100vh - 100px);
}

.images-container{
    margin-left: 10px;
    margin-right: 10px;
    columns: 180px;
    gap: 0px;
    width: fit-content;
    height: fit-content;
}
